@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-color {
  color: #f05622;
}
.feedback-card-shadow {
  box-shadow: 0px 8px 15px 1px rgba(13, 122, 152, 0.2);
}
.ant-table-thead .ant-table-cell {
  background-color: #02B4D5 !important; 
  color: #fff !important;
}
.dark-row {
  background-color: #f5f5f5;
}
.info-graph p {
  margin-bottom: 20px;
}
.slick-slide {
  transition: opacity 1000ms ease 0s, visibility 1000ms ease 0s !important;
}
.feedback-card-shadow div{
  line-height: 2;
}
.ant-float-btn {
  /* bottom: 90px !important; */
  width: 60px;
  height: 60px;
  /* right: 25px; */
}
.ant-float-btn-content {
  overflow: visible;
}
.rc-virtual-list::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.rc-virtual-list-holder::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.ant-checkbox {
  align-self: self-start;
  margin-top: 5px;
}
.abn-form-item .ant-form-item-required{
  /* position: relative;
  top: 0; */
  align-items: flex-start !important;
  /* transform: translateY(5px) !important; */
}
.abn-form-item .ant-form-item-required::before{
  transform: translateY(5px) !important;
}
.flex-force {
  display: flex !important;
}

@font-face {
  font-family: 'CormorantGaramond';   /* 自定义字体的名称 */
  src: url('font/CormorantGaramond-BoldItalic.ttf') format('truetype');
}

.PlaypenSans {
  font-family: "CormorantGaramond";
}